:root {
  --color-primary: rgb(231, 231, 231);
  --color-secondary: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Roboto Mono";
  font-size: 14px;
  font-weight: 600;
  background-color: var(--color-primary);
  scroll-behavior: smooth;
}
